@font-face {
    font-family: 'CabinetGrotesk';
    src: url('./CabinetGrotesk-Bold.otf') format('OpenType');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./CircularStd-Bold.woff') format('OpenType');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./CircularStd-Medium.woff') format('OpenType');
    font-weight: 500;
    font-style: normal;
}