@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0 !important;
}

body {
  background: #fafafa;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}


.ant-menu-item.ant-menu-item-selected {
  color: #1d3c48;
  background: white;
  border-radius: 1.875rem;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background: transparent;
  color: #1D3C48;
  /* padding: 0px !important; */
}

.ant-menu-submenu.ant-menu-submenu-selected {
  background: transparent;
}

.ant-menu-item-only-child.ant-menu-title-content::before {
  content: '\00B7';
}

/* .ant-menu-title-content::before {
  content: 'U+2022' !important;
} */

.ant-menu-submenu.ant-menu-submenu-selected>.ant-menu-submenu-title {
  background: white;
  color: #1d3c48 !important;
}

.nav-area .ant-layout-sider-zero-width-trigger {
  left: 335px;
  border-start-start-radius: 0;
  border-start-end-radius: 0.375rem;
  border-end-end-radius: 0.375rem;
  border-end-start-radius: 0;
}

.nav-area .ant-layout {
  background-color: white;
}

.nav-area .ant-layout-sider {
  background: #f2f3f4 !important;
  padding: 0.625rem;
  /* flex: 0 0 248px !important;
  max-width: 248px !important;
  min-width: 248px !important;
  width: 248px !important; */
}

.nav-area .ant-menu {
  background: #f2f3f4 !important;
}

.nav-area .ant-menu-item {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  font-family: "Rubik";
  letter-spacing: 0px;
  color: #67777e;
  opacity: 1;
}

.nav-area .ant-menu-submenu {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  font-family: "Rubik";
  letter-spacing: 0px;
  color: #67777e;
  opacity: 1;
}

/* .nav-area .ant-menu-item svg {
  width: 18px;
  height: 18px;
} */

/* .nav-area .ant-menu-item-selected {
  color: #1d3c48;
  background: white;
  border-radius: 30px;
} */

/* .nav-area .ant-menu-submenu-selected {
  color: #1d3c48;
  background: white;
  border-radius: 30px;
  opacity: 1;
} */

/* .nav-area .ant-menu-item-active {
  color: #1d3c48 !important;
  background: white !important;
  border-radius: 30px;
} */


/* .nav-area .ant-menu-submenu-active {
  color: #1d3c48 !important;
  background: white !important;
  border-radius: 30px;
} */


.nav-area .ant-menu-item-selected svg {
  filter: invert(69%) sepia(34%) saturate(552%) hue-rotate(345deg) brightness(99%) contrast(88%);
}

/*
.nav-area .ant-menu-item:hover {
  color: #1d3c48;
}

.nav-area .ant-menu-item:hover svg {
  filter: invert(69%) sepia(34%) saturate(552%) hue-rotate(345deg) brightness(99%) contrast(88%);
}

.nav-area .ant-menu-submenu .ant-menu-item-selected::before {
  content: ".";
  color: red;
}

.nav-area .ant-menu-submenu .ant-menu-item-selected {
  color: #1d3c48 !important;
} */

/* .nav-area .ant-menu-submenu-open {
    color: #1d3c48;
    background: white;
    border-radius: 30px;
    opacity: 1;
} */
/* inputstyle */

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: none;
}

.ant-input {
  background-color: transparent !important;
}

.inputstyle {
  background-color: #f2f6f7 !important;
  border: none !important;
  height: 3.125rem !important;
  border-radius: 0.75rem !important;
}

.ant-input:focus {
  border: none !important;
}

@media only screen and (max-width: 1024px) {
  .nav-area .ant-layout-sider {
    padding: 0px;
    /* flex: 0 0 200px !important;
    max-width: 200px !important;
    min-width: 200px !important;
    width: 200px !important; */
  }
}