@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0 !important;
}

body {
  background: #fafafa;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.side-logo {
  width: 50px;
}

.ant-menu-item.ant-menu-item-selected {
  color: #1d3c48 !important;
  background: white;
  font-weight: 500 !important;
  border-radius: 1.875rem;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background: transparent;
  color: #1d3c48;
}

.ant-menu-submenu.ant-menu-submenu-selected {
  background: transparent;
  color: #1d3c48 !important;
}

.nav-area .ant-menu-submenu .ant-menu-sub .ant-menu-item {
  font-size: 12px !important;
  margin-bottom: 0px !important;
}

.nav-area .ant-menu-submenu .ant-menu-sub .ant-menu-item.ant-menu-item-selected {
  color: #1d3c48;
  background: transparent !important;
  font-weight: 500;
  border: none !important;
}

.nav-area .ant-menu-submenu .ant-menu-sub .ant-menu-item.ant-menu-item-active {
  color: #1d3c48;
  background: transparent !important;
  font-weight: 500;
  border: none !important;
}

.ant-menu-submenu.ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: #1d3c48 !important;
  background: white !important;
  font-weight: 500;
  border-radius: 30px;
}

.ant-menu-submenu .ant-menu-submenu-title:hover {
  color: #1d3c48 !important;
  background: white !important;
  font-weight: 500;
  border-radius: 30px;
}

.ant-menu-submenu .ant-menu-submenu-title:hover svg {
  filter: invert(49%) sepia(8%) saturate(7320%) hue-rotate(323deg) brightness(96%) contrast(83%);
}

.ant-menu-submenu.ant-menu-submenu-selected>.ant-menu-submenu-title svg {
  filter: invert(49%) sepia(8%) saturate(7320%) hue-rotate(323deg) brightness(96%) contrast(83%);
}

.nav-area .ant-layout-sider-zero-width-trigger {
  left: 335px;
  border-start-start-radius: 0;
  border-start-end-radius: 0.375rem;
  border-end-end-radius: 0.375rem;
  border-end-start-radius: 0;
}

.nav-area .ant-layout {
  background-color: white;
}

.nav-area .ant-layout-sider {
  background: #f2f3f4 !important;
  padding: 0.625rem;
}

.nav-area .ant-menu {
  background: #f2f3f4 !important;
}

.nav-area .ant-menu-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  letter-spacing: 0px;
  color: #67777e;
  margin-bottom: 10px;
}

.nav-area .ant-menu-submenu svg {
  width: 15px;
  height: 15px;
}

.nav-area .ant-menu-item svg {
  width: 15px;
  height: 15px;
}

.nav-area .ant-menu-item-active {
  color: #1d3c48 !important;
  background: white !important;
  font-weight: 500;
  border-radius: 30px;
}

.nav-area .ant-menu-item-selected svg {
  filter: invert(49%) sepia(8%) saturate(7320%) hue-rotate(323deg) brightness(96%) contrast(83%);
}

.nav-area .ant-menu-item:hover svg {
  filter: invert(49%) sepia(8%) saturate(7320%) hue-rotate(323deg) brightness(96%) contrast(83%);
}

.nav-area .ant-menu-submenu {
  position: relative;
  font-style: normal;
  font-size: 14px;
  font-family: "Rubik";
  letter-spacing: 0px;
  color: #67777e;
  margin-bottom: 10px;
}

.nav-area .ant-menu-submenu .ant-menu-item-selected::before {
  color: #e25a5a;
  content: "\2022";
  position: absolute;
  font-size: 30px;
  left: 25px;
}

.nav-area .ant-menu-submenu .ant-menu-item-selected {
  color: #1d3c48 !important;
}

/* inputstyle */

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: none;
}

.ant-input {
  background-color: transparent !important;
}

.inputstyle {
  background-color: #f2f6f7 !important;
  border: none !important;
  height: 3.125rem !important;
  border-radius: 0.75rem !important;
}

.ant-input:focus {
  border: none !important;
}

.dexwuP>span {
  padding-top: 0px !important;
  flex: none !important;
  color: #67777e;
}

.kjicut>span {
  padding-top: 0px !important;
  flex: none !important;
  color: #67777e;
}

.kjicut {
  gap: 5px !important;
  align-items: center !important;
}

.dexwuP {
  gap: 5px !important;
  align-items: center !important;
}

.PJfgA>span {
  padding-top: 2px;
  opacity: 0.5;
  flex: none !important;
}

.PJfgA {
  align-items: center !important;
  gap: 5px !important;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  border: 1px solid #E4E4E4 !important;
}

.react-datepicker__header {
  text-align: center;
  background-color: #EFEFEF !important;
  border-bottom: none !important;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker {
  font-size: 0.8rem;
  background-color: #EFEFEF !important;
  color: #000;
  border: 1px solid #EFEFEF !important;
  border-radius: 0.5rem !important;
  display: inline-block;
  position: relative;
  padding: 0px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range {
  background-color: #E25A5A !important;
  border-radius: 50% !important;
  border: none !important;
}

.react-datepicker__day--in-range {
  background-color: #E25A5A !important;
  border-radius: 50% !important;
}

.ant-pagination .ant-pagination-item-active {
  background: #E25A5A !important;
  border-radius: 8px !important;
  border-color: #E25A5A !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: white !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
  background: #FFFDF1 !important;
  border-bottom: 1px solid #EEEEEE !important;
}

.ant-table-cell::before {
  background-color: transparent !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  border-bottom: 1px solid #EEEEEE !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
  font-size: 14px;
  font-family: Circular Std !important;
  color: #3E3E3E;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  color: #1D3C48;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  font-size: 14px !important;
  font-family: 'Rubik', sans-serif !important;
  color: #1D3C48 !important;
}

.ant-drawer .ant-drawer-header-title {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

.ant-drawer .ant-drawer-close {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #F2F3F4;
}

.ant-drawer .ant-drawer-header {
  padding: 16px !important;
  border-bottom: none !important;
}

.ant-collapse {
  background-color: transparent !important;
  border: none !important;
}



.ant-collapse-header {
  border: 1px solid #E3E3E3 !important;
  border-radius: 4px !important;
}

.ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border-radius: 0px !important;
  margin-bottom: 10px !important;
}

.ant-collapse>.ant-collapse-item {
  border-bottom: none !important;
}

.ant-collapse .ant-collapse-content {
  border: none !important;
}

.ant-collapse>.ant-collapse-item {
  margin-bottom: 10px !important;
}

.config .ant-collapse>.ant-collapse-item {
  margin-bottom: 10px !important;
}

.config .ant-collapse {
  background-color: transparent !important;
}

.config .ant-collapse-header {
  border: 1px solid #F8F8F8 !important;
  padding: 15px !important;
  border-radius: 15px !important;
  background-color: #F8F8F8 !important;
}

.config .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border-radius: 15px !important;
}

.ant-tabs .ant-tabs-tab-btn {
  color: #67777E !important;
  padding: 5px 15px;
  font-size: 17px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1D3C48 !important;
  font-weight: 600;
  font-size: 17px;
}

.ant-tabs-nav .ant-tabs-ink-bar-animated {
  border: solid 2px #E25A5A !important;
  border-radius: 4px;
}

.revenue .ant-tabs .ant-tabs-tab-btn {
  color: #67777E !important;
  padding: 2px;
  font-size: 14px;
}

.revenue .ant-tabs .ant-tabs-tab {
  padding: 3px 0px !important;
}

.revenue .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #E25A5A !important;
  font-weight: normal;
  font-size: 14px;
  background-color: white;
  padding: 5px 20px;
  border-radius: 30px;
}

.revenue .ant-tabs-top>.ant-tabs-nav::before {
  border-bottom: none;
}

.revenue .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list {
  background-color: #F2F3F4 !important;
  border-radius: 30px;
  padding: 0px 10px;
}

.revenue .ant-tabs-nav .ant-tabs-ink-bar-animated {
  border: none !important;
  border-radius: 0px;
  width: 0px !important;
}

.limits .ant-tabs .ant-tabs-tab-btn {
  color: #B7C4C9 !important;
  padding: 2px;
  font-size: 17px;
}

.limits .ant-tabs-left>.ant-tabs-content-holder {
  border: none !important;
  border-left: 1px solid #E4E4E4 !important;
}

.limits .ant-tabs-left>.ant-tabs-nav .ant-tabs-nav-list {
  padding: 0px 20px !important;
}

.limits .ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  border: 1px solid #E25A5A;
  border-radius: 30px;
}

.limits .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #E25A5A !important;
}

.limits .ant-tabs-left>.ant-tabs-nav .ant-tabs-ink-bar-animated {
  height: 0px !important;
  width: 0px !important;
  border: none !important;
}

.wallet-table .ant-table-wrapper .ant-table-thead>tr>th {
  background-color: transparent !important;
  color: #67777E;
  font-size: 14px;
}

.wallet-table .ant-table-wrapper .ant-table-tbody>tr>td {
  font-size: 14px;
  color: #1D3C48;
}

.wallet-table .ant-table-wrapper .ant-table-tbody>tr>td:first-child {
  border-left: solid 1px #EEEEEE !important;
}

.wallet-table .ant-table-wrapper .ant-table-tbody>tr>td:last-child {
  border-right: solid 1px #EEEEEE !important;
}


.doc .ant-drawer-wrapper-body .ant-drawer-body {
  padding: 0px !important;
}

.add-user-select .ant-select-selector {
  border: none !important;
  height: 100% !important;
  background-color: transparent !important;
}

.add-user-select .ant-select-selector:hover {
  border: solid 1px #F2F6F7 !important;
}

.ant-select-selector:hover {
  border: 1px solid #E4E4E4 !important;
}

.add-user-select .ant-select-selector .anticon>svg {
  color: #E25A5A !important;
}

.ant-select-selector {
  border: 1px solid #E4E4E4 !important;
}

.loginalert .ant-alert {
  border-radius: 0px;
  padding: 8px 200px;
  background-color: #E25A5A;
  border: none;
}

.loginalert .ant-alert-error {
  width: 100%;
  position: absolute;
  z-index: 100;
  /* top: 0; */
  color: black;
  height: 50px;
}

.loginalert .ant-alert-message {
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.loginalert .ant-alert-close-icon {
  font-size: 20px;
}

.loginalert .ant-alert-close-icon .anticon-close {
  color: white;
}

/* .ant-alert-success {
  background-color: #1D3C48 !important;
  border: none !important;
  border-radius: none !important;
  height: 80px !important;
} */

/* .ant-alert {
  color: white !important;
  border-radius: 0px !important;
  padding: 8px 100px !important;
} */

/* .ant-alert-success .ant-alert-icon {
  color: #60EFA8 !important;
  font-size: 20px !important;
} */

.ant-modal .ant-modal-close {
  width: 20px !important;
  height: 20px !important;
  background-color: #F2F6F7;
  border-radius: 50%;
  padding: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.invite .ant-modal .ant-modal-content {
  border-radius: 14px !important;
  padding: 0px !important;
}

/* .anticon svg {
  color: #1D3C48;
  font-weight: bold;
  font-size: 16px;
} */

@media only screen and (max-width: 1024px) {
  .nav-area .ant-layout-sider {
    padding: 0px;
  }

  .limits .ant-tabs-left>.ant-tabs-nav .ant-tabs-nav-list {
    padding: 3px !important;
  }
}