@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0 !important;
}

body {
  background: #fafafa;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.side-logo {
  width: 50px;
}

.ant-menu-item.ant-menu-item-selected {
  color: #1d3c48 !important;
  background: white;
  font-weight: 500 !important;
  border-radius: 1.875rem;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background: transparent;
  color: #1d3c48;
}

.ant-menu-submenu.ant-menu-submenu-selected {
  background: transparent;
}

.nav-area .ant-menu-submenu .ant-menu-sub .ant-menu-item {
  font-size: 12px !important;
  margin-bottom: 5px !important;
}

.nav-area .ant-menu-submenu .ant-menu-sub .ant-menu-item.ant-menu-item-selected {
  color: #1d3c48;
  background: transparent !important;
  font-weight: 500;
  border: none !important;
}

.nav-area .ant-menu-submenu .ant-menu-sub .ant-menu-item.ant-menu-item-active {
  color: #1d3c48;
  background: transparent !important;
  font-weight: 500;
  border: none !important;
}

.ant-menu-submenu.ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: #1d3c48 !important;
  background: white !important;
  font-weight: 500;
  border-radius: 30px;
}

.ant-menu-submenu.ant-menu-submenu-selected>.ant-menu-submenu-title svg {
  filter: invert(49%) sepia(8%) saturate(7320%) hue-rotate(323deg) brightness(96%) contrast(83%);
}

.nav-area .ant-layout-sider-zero-width-trigger {
  left: 335px;
  border-start-start-radius: 0;
  border-start-end-radius: 0.375rem;
  border-end-end-radius: 0.375rem;
  border-end-start-radius: 0;
}

.nav-area .ant-layout {
  background-color: white;
}

.nav-area .ant-layout-sider {
  background: #f2f3f4 !important;
  padding: 0.625rem;
}

.nav-area .ant-menu {
  background: #f2f3f4 !important;
}

.nav-area .ant-menu-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  letter-spacing: 0px;
  color: #67777e;
  margin-bottom: 10px;
}

.nav-area .ant-menu-submenu {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: "Rubik";
  letter-spacing: 0px;
  color: #67777e;
  margin-bottom: 10px;
}

.nav-area .ant-menu-submenu svg {
  width: 15px;
  height: 15px;
}

.nav-area .ant-menu-item svg {
  width: 15px;
  height: 15px;
}

.nav-area .ant-menu-item-active {
  color: #1d3c48 !important;
  background: white !important;
  font-weight: 500;
  border-radius: 30px;
}

.nav-area .ant-menu-item-selected svg {
  filter: invert(49%) sepia(8%) saturate(7320%) hue-rotate(323deg) brightness(96%) contrast(83%);
}

.nav-area .ant-menu-item:hover svg {
  filter: invert(49%) sepia(8%) saturate(7320%) hue-rotate(323deg) brightness(96%) contrast(83%);
}

.nav-area .ant-menu-submenu {
  position: relative;
}

.nav-area .ant-menu-submenu .ant-menu-item-selected::before {
  color: #e25a5a;
  content: "\2022";
  position: absolute;
  font-size: 30px;
  left: 25px;
}

.nav-area .ant-menu-submenu .ant-menu-item-selected {
  color: #1d3c48 !important;
}

/* inputstyle */

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: none;
}

.ant-input {
  background-color: transparent !important;
}

.inputstyle {
  background-color: #f2f6f7 !important;
  border: none !important;
  height: 3.125rem !important;
  border-radius: 0.75rem !important;
}

.ant-input:focus {
  border: none !important;
}

.dexwuP>span {
  padding-top: 0px !important;
  flex: inherit !important;
  color: #67777E;
}

.kjicut>span {
  padding-top: 0px !important;
  flex: inherit !important;
  color: #67777E;
}

.kjicut {
  gap: 5px !important;
  align-items: center !important;
}

.dexwuP {
  gap: 5px !important;
  align-items: center !important;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  border: 1px solid #E4E4E4 !important;
}

.datePicker {
  border: solid red !important;
}

.react-datepicker__header {
  text-align: center;
  background-color: #EFEFEF !important;
  border-bottom: none !important;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker {
  font-size: 0.8rem;
  background-color: #EFEFEF !important;
  color: #000;
  border: 1px solid #EFEFEF !important;
  border-radius: 0.5rem !important;
  display: inline-block;
  position: relative;
  padding: 0px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range {
  background-color: #E25A5A !important;
  border-radius: 50% !important;
}

.react-datepicker__day--in-range {
  background-color: #E25A5A !important;
  border-radius: 50% !important;
}

.ss.ant-tabs .ant-tabs-tab {
  padding: 5px 30px !important;
}

.ss.ant-tabs-tab-active {
  border: none !important;
  background: #FFFFFF !important;
  border-radius: 17px !important;
  border-bottom: none !important;
}

.ant-pagination .ant-pagination-item-active {
  background: #E25A5A !important;
  border-radius: 8px !important;
  border-color: #E25A5A !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: white !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
  background: #FFFDF1 !important;
  border-bottom: 1px solid #EEEEEE !important;
}

.ant-table-cell::before {
  background-color: transparent !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  border-bottom: 1px solid #EEEEEE !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
  font-size: 14px;
  font-family: Circular Std !important;
  color: #3E3E3E;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  color: #1D3C48;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  font-size: 14px !important;
  font-family: 'Rubik', sans-serif !important;
  color: #1D3C48 !important;
}

.ant-drawer .ant-drawer-header-title {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

.ant-drawer .ant-drawer-close {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #F2F3F4;
}

.ant-drawer .ant-drawer-header {
  padding: 16px !important;
  border-bottom: none !important;
}

.ant-select-selector:active {
  /* border: none !important; */
}

@media only screen and (max-width: 1024px) {
  .nav-area .ant-layout-sider {
    padding: 0px;
  }
}